<?xml version="1.0" encoding="UTF-8"?>


<!-- web.xml is needed to configure web server -->
<!-- how server should retrieve requests and what server should do-->
<!-- In our case web server will send all the requests to the Dispatcher servlet-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

  <display-name>spring-mvc-app1</display-name>

  <absolute-ordering/>

  <!-- Creating Dispatcher Servlet   -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>

      <!-- Link to the Spring MVC configuration file (now it is xml file)       -->
      <param-value>/WEB-INF/applicationContextMVC.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <!-- Any URL request should be transmitted to the Dispatcher servlet    -->
    <!-- Then Dispatcher servlet will send information to the needed controller to handle request from user    -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>